body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
  }

  .navBar{
    display: block;
    flex-direction: row;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 3px;
    font-family: 'Bebas Neue', cursive;
  }

  .navBar > a {
    justify-content: space-evenly;
    padding: 2em;
    font-size: 26px;
    color: #7FA7B8;
  }

  .front{
    font-size: 26px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
  }
  
  .container {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .section-left, .section-right {
    width: 50%;
    height: 100vh;
    padding: 12px;
    border-bottom: 1px solid #fff;
  }
  
  .section-left {
    height: 100vh;
  }

  .section-right{
    border-left: 1px solid black;
  }
  
  .page-inner{
    opacity: 0;
    /* margin-top: 2em; */
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    -ms-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    padding: 3em;
    background: #33546D;
  }

  .page-inner h1{
    font-weight: 300;
    font-size: 2.4em;
    font-family: 'Oswald', sans-serif;
    color: #fff;
  }

  .page-inner h2{
    font-weight: 80;
    font-size: 300;
    font-family: 'Montserrat', sans-serif;
  }

  .page-inner p{
    font-weight: 125;
    font-size: 1.4em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
  }

  #sec-right .page-inner{
    background: #fff;
  }
  
  #sec-right .page-inner h1{
    color: black;
  }

  #sec-right .page-inner p{
    color: black;
  }
  
  .page-inner.active{
    opacity: 1;
  }
  
  .mainImage{
    width: 30%;
    bottom: 0px;
    position: absolute;
    /* border: 1 */
    z-index: -1;

  }

  
  button{
    background: none; 
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    /* transition: 8s; */
    border: 0px solid #33546D;
    border-radius: 6px;
    color: #33546D;
  }

  #showButtonLeft.active{
    background: #F1485B;
    z-index: -1;
    transition: 8s;
    color: #fff;
  }

  #showButtonRight.active{
    background: #33546D;
    z-index: -1;
    transition: 8s;
    color: #fff;
  }
  
  #sec-left > button {
    
  }
  
  #sec-right > button {
    
  }
  
#sec-right > img{
    margin-left: 15%;
}

  #sec-left > img{
      margin-left: 3%;
  }

  .showCase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .quizApp{
    width: 70%;
    padding: 20px;
  }

  .marvelApp{
    width: 70%;
    padding: 20px;
  }

  .pictureCaption{
    text-align: left;
    float: right;
    font-size: .7em;
  }

  @media all and (max-width: 480px) { 
    
    .navBar > a {
      padding: 1.4em;
      font-size: 19px;
    }

    button{
      font-size: 16px;
    }

    .mainImage{

      width: 53%;
      bottom: 0px;
      }

      #sec-right > img{
        margin-left: 0%;
    }
    
      #sec-left > img{
          margin-left: 0%;
      }
    
    .page-inner{
      padding: .8em;
    }

    .page-inner h1{
      font-weight: 100;
      font-size: 1.2em;
    }

    .page-inner p{
      font-weight: 150;
      font-size: .8em;
      text-align: left;
      padding-left: .5em;
      padding-right: .5em;
    }

    .quizApp{
      width: 70%;
      padding: 20px;
    }
  
    .marvelApp{
      width: 70%;
      padding: 20px;
    }
   
    .pictureCaption{
      font-size: .5em;
      padding-right: 6em;
      padding-left: 6em;
    }
  }