body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
  }

  .navBar{
    display: block;
    flex-direction: row;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 3px;
    font-family: 'Bebas Neue', cursive;
  }

  .navBar > a {
    justify-content: space-evenly;
    padding: 2em;
    font-size: 26px;
    color: #7FA7B8;
  }

  .front{
    font-size: 26px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
  }
  
  .container {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .section-left, .section-right {
    width: 50%;
    height: 100vh;
    padding: 12px;
    border-bottom: 1px solid #fff;
  }
  
  .section-left {
    height: 100vh;
  }

  .section-right{
    border-left: 1px solid black;
  }
  
  .page-inner{
    opacity: 0;
    /* margin-top: 2em; */
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    -ms-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    padding: 3em;
    background: #fff;
  }

  .page-inner h1{
    font-weight: 300;
    font-size: 2.4em;
    font-family: 'Oswald', sans-serif;
    color: black;
  }

  .page-inner h2{
    font-weight: 80;
    font-size: 300;
    font-family: 'Montserrat', sans-serif;
  }

  .page-inner p{
    font-weight: 125;
    font-size: 1.4em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #black;
  }

  #sec-right .page-inner{
    background: #black;
  }
  
  #sec-right .page-inner h1{
    color: black;
  }

  #sec-right .page-inner p{
    color: black;
  }
  
  .page-inner.active{
    opacity: 1;
  }
  
  .mainImage{
    width: 40%;
    bottom: 0px;
    position: absolute;
    /* border: 1 */
    z-index: -1;

  }

  .slick-slide img {
    margin: 0 auto;
  }

  

  
  button{
    background: none; 
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    /* transition: 8s; */
    border: 0px solid #33546D;
    border-radius: 6px;
    color: #33546D;
  }

  #showButtonLeft.active{
    background: #F1485B;
    z-index: -1;
    transition: 8s;
    color: #fff;
  }

  #showButtonRight.active{
    background: #33546D;
    z-index: -1;
    transition: 8s;
    color: #fff;
  }
  
  #sec-left > button {
    
  }
  
  #sec-right > button {
    
  }
  
#sec-right > img{
    margin-left: 4%;
}

  #sec-left > img{
      margin-left: 3%;
  }

  .showCase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .quizApp{
    width: 70%;
    padding: 20px;
  }

  .marvelApp{
    width: 70%;
    padding: 20px;
  }

  .pictureCaption{
    text-align: left;
    float: right;
    font-size: .7em;
  }

  .leftArt ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .leftArt img{
    width:600px;
    height:600px;
  }

  .leftArt .img4{
    width: 450px;
    height:900px;
  }

  .leftArt li{
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  .typed_wrapMain{
    display: block;
    width: 125px;
    height: auto;
    padding: 15px;
    padding-left: 45px;
    color: lightslategrey;
    /*centers it in the .banner*/
    position: relative;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .logoContainerLeft{
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-left: 140px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
  }

  .logoContainerRight{
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 32%;
  }

  .logoContainerLeft > img{
    height:50px;
    width:50px;
    margin: 3px;
  }

  .logoContainerRight > img{
    height:50px;
    width:50px;
    margin: 3px;
  }

  .stackBoarder{
    height:18em;
    
  }

  .stackBoarderLeft{
    height:18em;
    
  }

  .swipe_hint{
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .right_swipe {
    height: 75px;
    width: 75px;
  }
  .left_swipe {
    height: 75px;
    width: 75px;
  }

  @media all and (max-width: 480px) { 
    
    .navBar > a {
      padding: 1.4em;
      font-size: 19px;
    }

    button{
      font-size: 16px;
    }

    .mainImage{
      min-width: 53%;
      bottom: 0px;
      }

      #sec-right > img{
        margin-left: -7%;
    }
    
      #sec-left > img{
        margin-left: 0%;
      }
    
      #sec-right a{
        font-size: 13px;
      }
    .page-inner{
      padding: .8em;
    }

    .page-inner h1{
      font-weight: 100;
      font-size: 1.2em;
    }

    .page-inner p{
      font-weight: 150;
      font-size: .8em;
      text-align: left;
      padding-left: .5em;
      padding-right: .5em;
    }

    .quizApp{
      width: 70%;
      padding: 20px;
    }
  
    .marvelApp{
      width: 70%;
      padding: 20px;
    }
   
    .pictureCaption{
      font-size: .5em;
      padding-right: 6em;
      padding-left: 6em;
    }

    .leftArt ul{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 1em;
    }

    .leftArt img{
      width:275px;
      height:250px;
    }

    .leftArt .img4{
      width: 235px;
      height:475px;
    }

    .leftArt li{
      list-style: none;
      align-items: center;
      justify-content: center;
    }

    .logoContainerLeft{
      display: flex;
      list-style: none;
      flex-direction: row;
      margin: 0 auto;
      margin-right: 71px;
      margin-bottom: 30px;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 60%;
    }

    .logoContainerRight{
      display: flex;
      list-style: none;
      flex-direction: row;
      margin: 0 auto;
      margin-right: 66px;
      margin-bottom: 30px;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 60%;
    }

    .logoContainerLeft > img{
      height:50px;
      width:50px;
      margin: 3px;
    }

    .logoContainerRight > img{
      height:50px;
      width:50px;
      margin: 3px;
    }

    .stackBoarder{
      height:8em;
      width:100%;
    }

    .stackBoarderLeft{
      height:9em;
      width: 100%;
    }

    .banner {
      display: block;
      min-height: 200px;
      width: 100%;
      position: relative;
    }
    .typed_wrap {
      display: block;
      border: 4px solid #ecf0f1;
      width: 290px;
      height: auto;
      padding: 30px;
      
      /*centers it in the .banner*/
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }

    .typed_wrapMain {
      display: block;
      width: 125px;
      height: auto;
      padding: 15px;
      padding-left: 55px;
      color: lightslategrey;
      /*centers it in the .banner*/
      position: relative;
      top: 10%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }

    .swipe_hint{
      display: flex;
      margin: 0 auto;
      justify-content: center;
    }

    .right_swipe {
      height: 50px;
      width: 50px;
    }
    .left_swipe {
      height: 50px;
      width: 50px;
    }

    .typed_wrapLeft {
      display: block;
      
      width: 290px;
      height: auto;
      padding: 30px;
      
      /*centers it in the .banner*/
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
    
    .typed_wrap h1 {
      display: inline;
    }
    
    /*Add custom cursor so it auto inherits font styles*/
    .typed::after {
      content: '|';
      display: inline;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
    }
    
    /*Removes cursor that comes with typed.js*/
    .typed-cursor{
       opacity: 0;
      display: none;
    }
    /*Custom cursor animation*/
    @keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    
  }