.container {
    
  }

  body{
    
  }

  form, label{
    width: 100%;
    padding: 10px;
    display: block;
    
  }

  .searchBar{
    display: block;
    width: 100%;
  }

  .searchButton{
    display: inline-block;
  }

  #search{
      display: flex;
      justify-content: center;
      align-content: space-around;
      margin-top: 2%;
      margin-bottom: 2%;
  }
  
  #searchResults {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 15px;
    background-image:url(https://res.cloudinary.com/drbxih6it/image/upload/v1573757864/digital-screentone_xkr4qu.jpg);
    background-repeat: repeat; 
  }

  .bio.Picture{
    align-self: flex-start;
    border: 3px solid black;
    margin: 10px;
  }
  
  .character-content{
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
  }
  
  .character.name{
   align-items: center;
   justify-items: center;
  }

  .bio.Description{
    flex-direction: column;
    align-self: flex-end;
    padding: 10px;
  }

  .character-comics{
    flex-direction: row;
  }