.container {
    
  }

  #search{
      display: flex;
      justify-content: center;
      align-content: space-around;
      margin-top: 2%;
      margin-bottom: 2%;
  }
  
  #searchResults {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 15px;
  }

  .bio.Picture{
    align-self: flex-start;
  }
  
  .character-content{
    flex-direction: column;
    text-align: center;
  }
  
  .character.name{
   align-items: center;
   justify-items: center;
  }

  .bio.Description{
    flex-direction: column;
    align-self: flex-end;
    padding: 10px;
  }

  .character-comics{
    flex-direction: row;
  }